.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.container{
   display: block;
   text-align: row;
}
  
.search{
  float: right;
  display: flex;
}

#map {
  float: right;
  height: 100vh;
}
